<nav>
  <div class='nav-wrapper'>
    <a href='#' class='brand-logo'>Сайт курсів</a>
    <ul id='nav-mobile' class='right hide-on-med-and-down'>
      <li>
        <a href='/'>Головна</a>
      </li>
      <li>
        <a href='/courses'>Курси</a>
      </li>
      <li>
        <a href='/add'>Додати курс</a>
      </li>
    </ul>
  </div>
</nav>